.header {
  display: flex;
  flex-direction: row;
  padding: 63.551px 1rem 7.449px 1rem;
  height: 30px;
}
.logo {
  margin: 0.1rem 0.3rem;
  background: transparent;
}
.logo:hover {
  cursor: pointer;
}
.empty {
  flex: 1 1 0;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.room, 
.user, 
.addButton {
  background: transparent;
  color: var(--color-white);
  cursor: pointer;
}
.room {
  border-color: var(--color-white);
  border: 1px solid var(--color-white);
  padding: 0.3rem 0.9rem;
  border-radius: 1rem;
}
.user {
  text-decoration: underline;
}
.addButton {
  width: 25.2px;
  height: 25.2px;
  border: 1px solid var(--color-white);
  padding: 0px;
  border-radius: 0.3rem;
  font-size: 21px;
}
.plusImg {
  margin: auto;
  width: 80%;
  height: 80%;
  display: block;
}
