.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(12px);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 358.681px;
  height: 190px;
  z-index: 100;
  overflow: hidden;
  flex-shrink: 0;
  transform: translate(-50%, -50%);
  animation: slide-down 300ms ease-out forwards;
}

.header {
  margin: 24px 22px 16px 22px;
}

.header p {
  margin: 0;
  color: var(--grayscale-60, #575a6b);
  /* 13/r */
  font-family: Noto Sans KR;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 19.5px */
}

.content {
  display: inline-flex;
  padding: 11.5px 14.892px 11.5px 19.339px;
  justify-content: space-between;
  border-radius: 25px;
  background: var(--grayscale-10, #e2e3ec);
  width: 300px;
  margin-left: 13px;
}

.content input {
  color: var(--grayscale-black, #121212);
  outline: none;
  border: none;
  background-color: inherit;
  width: 250px;
  font-family: Noto Sans KR;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

.content span {
  color: var(--grayscale-60, #575a6b);
  text-align: right;
  font-family: Noto Sans KR;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 5px;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.actions button {
  background-color: transparent;
  cursor: pointer;
  font-family: Noto Sans KR;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 3px;
  width: 200px;
}

.actions button:hover,
.actions button:active {
  background-color: rgba(148, 148, 148, 0.2);
}

.actions > button:nth-child(3) {
  color: var(--orangered, #ff2301);
}

hr {
  margin: 23.21px 15px 0px 15px;
  height: 1px;
  border: 0;
  background: rgb(146, 146, 146, 0.4);
}

.updown {
  border-right: 1px solid rgb(146, 146, 146, 0.4);
  border-bottom: none;
  border-left: none;
  border-top: none;
  height: 57.793px;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translate(-50%, 1rem);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
